// 全局变量 

// layout 变量
:root {
    --header_height: 55px; /* header 高度 */
    --footer_height: 30px; /* footer 高度 */
    --aside_width: 210px; /* aside 宽度 */
    --tabs_height: 40px; /* tabs 高度 */
    --aside_picker_height: 40px; /* aside 底部颜色高度 */
}