/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
	display: none;
}

body {
	line-height: 1;
}

menu,
ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全局的滚动条样式 */
::-webkit-scrollbar {
	width: 3px;
	height: 10px;
	background-color: #fff;
}

/*定义滚动条轨道 
	内阴影+圆角*/
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(218, 207, 207, 0.24);
	-webkit-box-shadow: inset 0 0 6px rgba(218, 207, 207, 0.24);
	border-radius: 10px;
	background-color: #fff;
}

/*定义滑块
    内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(155, 148, 148, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(155, 148, 148, 0.3);
	background-color: rgb(204, 204, 204);
}

/* 进度条样式 */
#nprogress .bar {
	background-color: #c9e8ff !important; /*进度条颜色*/
	/* 添加阴影 */
	box-shadow: 0 0 10px #c9e8ff, 0 0 5px #c9e8ff;
}